extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    h1 Account Updated
    div.well
      p Your password has been successfully updated.
      small Please click continue button below to login to your account.
    p
      a.btn.btn-yellow-fill(href='/app.html#/login') Continue
