footer
    .container
        .row.bottom-footer.text-center-mobile
            .col-sm-6
                p All Rights Reserved 2016. Famepick.
            .col-sm-6.text-right
                a(href='http://www.famepick.com') Home
                a(href='http://www.famepick.com/#!influencers-1/i1yo9') Influencers
                a(href='http://www.famepick.com/#!brands/h4kvq') Brands
