lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# Web minify js/css
public/min/*
public/min-safe/*

# OS metadata
.DS_Store
Thumbs.db
