<div class="fp-popup">
    <div class="modal-header">
        <a class="fa fa-times close-btn" href ng-click="close()"></a>
        <h3 class="modal-title">{{$title}} Preview</h3>
    </div>
    <div class="modal-body" after-render="initFacebook">
       <!-- <fb:post href="https://www.facebook.com/1561105430871098/posts/1643654039282903" width="500"></fb:post> -->
        <fb:post id="postPreview" width="500"></fb:post>
    </div>

    <div class="form-group modal-footer">
        <div class="col-md-12 text-center">
            <button class="btn btn-black-fill" type="button" ng-click="close()">Cool</button>
        </div>
    </div>
</div>
</div>
