<div class="fp-popup">
    <div class="modal-header">
        <a class="fa fa-times close-btn" href ng-click="close()"></a>
        <h4 class="modal-title">How to Grant Facebook Permission to Famepick</h4>
    </div>
    <div class="modal-body">
        <div>
            <p>1. Click on the page name(s) on the message to go to the Facebook Page Roles setting page. It will be opened in a new tab.</p>
            <div class="row">
                <img class="col-md-12" src="../img/permission-request-1.png"/>
            </div>
            <br>
            <p>2. In the opened tab, click Respond to Request, and choose Give Permission. Remember to click Save after that.</p>
            <div class="row">
                <img class="col-md-12" src="../img/permission-request-2.png"/>
            </div>
            <br>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-md-12 text-center">
            <md-button class="md-primary md-raised" type="button" ng-click="close()">Got it</md-button>
        </div>
    </div>
</div>
</div>
