<div class="fp-popup">
    <div class="modal-header">
        <a class="fa fa-times close-btn" href ng-click="close()"></a>
        <h4 class="modal-title">Performance Projection</h4>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-4" >
                    <md-card class="widget" md-colors="::{ background: 'blue', color: 'white' }">
                        <md-card-content>
                            <div layout="column" class="text-center">
                                <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis"  >3.4%</p>
                                <p class="md-body-2 margin-top-0 margin-bottom-0" translate>Engagement</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div  class="col-md-4">
                    <md-card  class="widget" md-colors="::{ background: 'pink', color: 'white' }">
                        <md-card-content layout-align="space-between center">
                            <div layout="column" class="text-center">
                                <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis">1.65%</p>
                                <p class="md-body-2 margin-top-0 margin-bottom-0" translate>CTR</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div  class="col-md-4">
                    <md-card class="widget" md-colors="::{ background: 'green', color: 'white' }">
                        <md-card-content layout-align="space-between center">
                            <div layout="column" class="text-center">
                                <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis">7+</p>
                                <p class="md-body-2 margin-top-0 margin-bottom-0" translate>Relevance Score</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div  class="col-md-4">
                    <md-card  class="widget" md-colors="::{ background: 'orange', color: 'white' }">
                        <md-card-content layout-align="space-between center">
                            <div layout="column" class="text-center">
                                <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis">750K</p>
                                <p class="md-body-2 margin-top-0 margin-bottom-0" translate>Audience Size</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div  class="col-md-4">
                    <md-card  class="widget" md-colors="::{ background: 'primary', color: 'white' }">
                        <md-card-content layout-align="space-between center">
                            <div layout="column" class="text-center">
                                <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis">$2.75</p>
                                <p class="md-body-2 margin-top-0 margin-bottom-0" translate>CPM Price</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div  class="col-md-4">
                    <md-card  class="widget" md-colors="::{ background: 'accent', color: 'white' }">
                        <md-card-content layout-align="space-between center">
                            <div layout="column" class="text-center">
                                <p class="md-display-1 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis">78%</p>
                                <p class="md-body-2 margin-top-0 margin-bottom-0" translate>Active Fans (L90)</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

    </div>

    <div class="modal-footer">
        <div class="col-md-12 text-center">
            <md-button class="md-accent md-raised" type="button" ng-click="close()">Close</md-button>
        </div>
    </div>
</div>
</div>
